@model IEnumerable<PlayListView>

@{
    ViewData["Title"] = "Playlist";
}

<body class="dark-mode">
    <div id="listado">        

        <partial name="_Playlist" />
    </div>
</body>

@section Scripts {
    <script>

        

        // Asignación de evento al contenedor de la vista parcial
        document.getElementById('listado').addEventListener('change', function (event) {
            var target = event.target;
                                                
            const addedAt = target.value;
            var model = { addedAt: addedAt }            
            $.ajax({
                url: '@Url.Action("Index","PlayList")',
                type: 'POST',
                data: model,
                success: function (result) {
                    $('#listado').html(result);
                }
            })                        
                        
        });


        


        $('input[type=checkbox]').change(function () {
            var check = $(this);
            var cadena = check.attr("id").split("-");

            var idArtista = cadena[0];
            var idCheck = idArtista + '-check';
            var idCheckLike = idArtista + '-checklike';
            var revisado = $("input[type='checkbox'][id='" + idCheck + "']").is(":checked");
            var like = $("input[type='checkbox'][id='" + idCheckLike + "']").is(":checked");

            var model = {
                IdArtist: idArtista,
                Revisado: revisado,
                Like: like
            }
            $.ajax({
                url: '@Url.Action("Actualiza","PlayList")',
                type: 'POST',
                data: model,
                success: function (result) {

                }
            })
        })

    </script>
}

