
@{
    ViewData["Title"] = "Albumes del artista";
}

<body style="background-color:black">
    <div class="float-start w75">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    int j = 0;
                    @foreach (string item in ViewBag.imagenes)
                    {
                        string active = j == 0 ? "active" : "";
                        <div class="carousel-item @active">
                            <img src="@item" class="d-block" />                            
                        </div>

                        j++;
                    }
                }

            </div>

            <div class="carousel-indicators">
                @{
                    int i = 0;
                    @foreach (var item in ViewBag.imagenes)
                    {
                        string active = i == 0 ? "active" : "";
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="@i" class="@active"></button>
                        i++;
                    }
                }
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>

        </div>
    </div>



    @section Scripts
        {
        <script>
            var myCarousel = document.querySelector('#carousel');
            var carouselText = document.querySelector("#carousel-text")

            myCarousel.addEventListener('slid.bs.carousel', function (event) {
                var activeSlide = event.relatedTarget
                var slideNumber = Array.from(myCarousel.querySelectorAll('.carousel-item')).indexOf(activeSlide) + 1;
                carouselText.textContent = 'Slide ' + slideNumber;

            })

        </script>
    }
</body>